
header {font-size: 30px;
        font-family: Calibri;
        color: #FF4000;
        font-weight: bold;}
body {margin: 40px;
      background-color:#F8EDED;
      font-family: Arial;
      font-size: 17px;
      color: #000000;}
