/*Menu Lateral*/
    /*Texto*/
.fa {
display: table-cell;  /*Colocación del texto*/
width: 60px;  /*Margen*/
height: 45px;  /*Espacio entre filas*/
font-size:20px;  /*Tamaño del texto*/  
}
.main-menu li>a {
position:relative;  /*Posición*/
color: white;  /*Color del texto*/
font-family: Calibri;  /*Tipo de letra*/
font-size: 14px;  /*Tamaño del texto*/
text-decoration:none;  /*Decoración del texto*/
}


    /*Expansion del menu*/
.main-menu:hover,nav.main-menu.expanded {
width:250px;  /*Tamaño de despliege del menu*/
}


    /*Principal*/
.main-menu {
background: black;  /*Color del fondo*/
position:fixed;  /*Posición*/
top:0;  /*Parte de arriba del menu*/
bottom:0;  /*Parte de abajo del menu*/
left:0;  /*Parte izquierda del menu*/
width:60px;  /*Tamaño de despliege del menu*/
overflow:hidden;  /*Para que el texto del menu solo aparezca al desplegarlo*/
-webkit-transition:width .1s linear;  /*Tiempo de despliege del menu*/
}


    /*Posicion del Texto*/
.main-menu li {
position:relative;
width:250px;
}


    /*Margenes*/
.main-menu .nav-text {
position:relative;
}
nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
