/*Menu Lateral*/
    /*Texto*/
.fa {
display: table-cell;  /*Colocación del texto*/
width: 60px;  /*Margen*/
height: 45px;  /*Espacio entre filas*/
font-size:20px;  /*Tamaño del texto*/  
}
.main-menu li>a {
color: white;  /*Color del texto*/
font-family: Calibri;  /*Tipo de letra*/
font-size: 14px;  /*Tamaño del texto*/
text-decoration:none;  /*Decoración del texto*/
}


    /*Expansion del menu*/
.main-menu:hover,nav.main-menu.expanded {
width:250px;  /*Tamaño de despliege del menu*/
}


    /*Principal*/
.main-menu {
background: black;  /*Color del fondo*/
position:fixed;  /*Posición del menu*/
top:0;  /*Parte de arriba del menu*/
bottom:0;  /*Parte de abajo del menu*/
left:0;  /*Parte izquierda del menu*/
width:60px;  /*Tamaño de despliege del menu*/
overflow:hidden;  /*Para que el texto del menu solo aparezca al desplegarlo*/
-webkit-transition:width .1s linear;  /*Tiempo de despliege del menu*/
}


    /*Posicion del Texto*/
.main-menu li {
width:240px;  /*Posición del texto*/
}


    /*Margenes*/
nav ul,nav li {
margin:0px;  /*Margen*/
padding:0px;  /*Margen*/
}


/*Menu Horizontal*/
*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
nav li{
       float:left;
       width:10%;
       padding:5px 10px;
       background-color:#000;
       border:1px solid #000;
       text-align:center;
       color:#fff;
       }
#lista{
	margin-left:650px;
}
